.wrap {
  height: 100vh;
  min-height: 655px;
  background: #ced8e4;
}

/* 헤더 */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.header h1 {
  font-size: 64px;
}

/* 메인 */

.reservation-container {
  display: flex;
  gap: 8px;
  padding: 8px;
  height: 80%;
}

/* 예약 목록 */

.reservation-list {
  flex-grow: 1;
  overflow-y: scroll;
  border-radius: 16px;

  /* 스크롤 바 X */
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* 크롬, 사파리, 오페라, 엣지 스크롤 바 X */
.reservation-list::-webkit-scrollbar {
  display: none;
}

.reservation-list ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px 0;
}

.reservation-list ul li {
  display: flex;
  padding: 16px 0;
  background: #fff;
  border-radius: 16px;

  cursor: pointer;
}

.reservation-list ul li .itm-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  flex-basis: 20%;
  flex-shrink: 0;
}

.reservation-list ul li .itm-info .itm-info__status.status--reserved {
  color: #3bb94c;
}

.reservation-list ul li .itm-info .itm-info__status.status--seated {
  color: #162149;
}

.reservation-list ul li .itm-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  flex-grow: 1;
  max-width: 60%;
}

.reservation-list ul li .itm-content p {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reservation-list ul li .itm-btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
  flex-shrink: 0;
}

.reservation-list ul li .itm-btnBox .status-btn {
  padding: 8px 16px;
  background: #162149;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

/* 예약 상세 */

.details-container {
  flex-basis: 40%;
  flex-shrink: 0;
}

.reservation-details {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  background: #fff;
  height: 100%;

  border-radius: 16px;
}

.reservation-details h2 {
  margin-bottom: 32px;
  text-align: center;
  font-size: 24px;
}

.reservation-details .reservation-info,
.customer-info {
  max-height: 45%;
}

.reservation-details ul {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-height: calc(100% - 56px);
}

.reservation-details ul li {
  display: flex;
}

.reservation-details .customer-info ul li:last-child {
  overflow: hidden;
}

.reservation-details .customer-info .customer-info__memo {
  overflow-y: scroll;
  /* 스크롤 바 X */
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* 크롬, 사파리, 오페라, 엣지 스크롤 바 X */
.reservation-details .customer-info .customer-info__memo::-webkit-scrollbar {
  display: none;
}

.reservation-details .request {
  display: flex;
  height: 10%;
}

.reservation-details span:first-child {
  flex-basis: 40%;
  flex-shrink: 0;
  color: #ced8e4;
}

.m-close {
  display: none;
}

/* 

모바일 

*/

@media (max-width: 1024px) {
  /* 메인 컨텐츠 */

  .reservation-container {
    display: block;
  }

  /* 예약 목록 */

  .reservation-list {
    height: 100%;
  }

  .reservation-list ul {
    padding: 0;
  }

  /* 예약 상세 */

  .details-container {
    display: none;
  }

  .details-container.on {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(8px) brightness(50%);
  }

  .reservation-details {
    position: relative;
    margin-top: 15vh;
  }

  .m-close {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 16px;
    transform: translate(0, 4px);
    background: none;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  /* 헤더 */

  .header h1 {
    font-size: 48px;
  }

  /* 메인 컨텐츠 */

  /* 예약 목록 */

  .reservation-list {
    font-size: 13px;
  }

  .reservation-list ul li {
    padding: 16px 8px;
  }

  .reservation-list ul li .itm-info {
    flex-basis: 25%;
    padding: 0 8px 0 0;
  }

  .reservation-list ul li .itm-content {
    max-width: 50%;
  }

  .reservation-list ul li .itm-btnBox {
    flex-basis: 25%;
    padding: 0 0 0 8px;
  }

  .reservation-list ul li .itm-btnBox .status-btn {
    padding: 8px 16px;
  }

  /* 예약 상세 */

  .reservation-details {
    font-size: 13px;
  }

  .reservation-details h2 {
    margin-bottom: 24px;
    font-size: 16px;
  }
}
